@model CinemasOfSity.Models.Account.Authorization;

<link rel="stylesheet" href="~/css/Authorization.css" />

<script type="text/javascript" src="~/js/Authorization.js"></script>

<div id="authorization-box">
    @await Html.PartialAsync("Account/Authorization", Model)
</div>