<link rel="stylesheet" href="~/css/MessageBox.css"/>

<div id="messageBox" class="messageBox">
    <div class="messageBox-body">
        <div id="messageBox-content" class="messageBox-content"></div>
        <button type="button" id="messageBox-button" class="messageBox-button page-button" onclick="MessageBoxClose()">Ок</button>
    </div>
</div>

<script type="text/javascript" src="~/js/MessageBox.js"></script>
