.messageBox {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
}

.messageBox.open {
    opacity: 1;
    pointer-events: auto;
}

.messageBox-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
    background-color: white;
    box-shadow: 0 0 2px 0 black;
    border: 1px solid #6c757d;
    border-radius: 5px;
    padding: 15px 20px;
}

.messageBox-button {
    margin-top: 25px;
    border-radius: 5px;
    float: right;
    max-width: 100px;
}

.messageBox-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#errorList {
    text-align: center;
    list-style-type: none;
    width: 100%;
}

.error {
    color: red;
    text-decoration: none;
    margin-bottom: 5px;
    margin-top: 5px;
}
