
/*------------------------------- sessions-box --------------------------------------------*/

.data-box {
    padding: 0;
}

/*------------------------------- filter --------------------------------------------*/

#filter-box {
    margin-top:15px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

#filter-box > div {
    padding: 0;
    padding-top: 10px;

}

#data-filter {
    margin-bottom: 15px;
    background-color: #f1f1f1;
    padding: 20px 15px;
    border-radius: 5px;
}

.open-filter-icon
{
    display: block;
    position: relative;
    float: right;
    background-color: #fff;
    color: #5a6269;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: inset 0px 2px 4px -2px black,  inset 0px -3px 6px -2px black;
}

.open-filter-icon > i {
    font-size: 28px;
    position: absolute;
    top:-13%;
    left:23%;
}

.open-filter-text
{
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    float: left;
}

.filter-atribute {
    margin-bottom: 15px;
}

.filter-atribute .card {
    margin-top: 5px;
    padding: 10px 15px;
}

.filter-collapse-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.filter-collapse-title {
    transform: translate(0, 3px);
}

.filter-collapse-icon {
    color: white;
    font-size: 20px;
    transform: translate(0, -5px);
}

.filter-control {
    vertical-align: middle;
    font-weight: 400;
    user-select: none;
    border: 1px solid #6c757d;
    padding: 0.375rem 0;
    padding-left: 2rem;
    padding-right:  0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

#filter-atribute-ageLimit  input, #filter-atribute-duration  input{
    margin-left: 5px;
}

#ageLimit-min, #ageLimit-max, #duration-min, #duration-max {
    display: flex;
    align-items: center;
}

#duration-min, #ageLimit-min{
    margin-bottom: 10px;
}

#filter-submit-box {
    height: 44px;
}

#filter-submit {
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 1px #f1f1f1, 0 0 0 2px #6c757d;
    font-weight: 500;
}
/*--------------------------------------------------------------------------------------*/

.data-list {
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #f1f1f1;
}

.dataItem-infobox {
    border: 2px solid #727b83;
    box-shadow: inset 0 0 0 1px #727b83;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    overflow: hidden;
}

.dataItem-infobox > div {
    margin: 0;
}

.dataItem {
    position: relative;
    max-width: 100%;
    margin: 15px
}

.dataItem-section {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.dataItem-section > * {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dataItem-section-title {
    flex: 0;
    padding: 2px 0;
    min-height: 2rem;
}

.dataItem-section-content {
    flex: 1;
    text-align: center;
    padding: 2px 0;
    border-color: #f5f5f5 !important;
    border-width: 1px !important;
    min-height: 1rem;
}

.dataItem-section-left > .dataItem-section-content {
    border-right: 1px solid transparent;
}

.dataItem-section-right > .dataItem-section-content {
    border-left: 1px solid transparent;
}

.dataItem-section {
    color: white;
    font-weight: 500;
}

.dataItem-section-content {
    background-color: white;
    color: #6c757d;
}

.dataItem-section-left > .dataItem-section-title {
    background-color: #727b83;
}

.dataItem-section-right > .dataItem-section-title {
    background-color: #788188;
}

.dataItem-button-group {
    display: flex;
    justify-content: stretch;
    width: 100%;
}

.dataItem-button {
    border-radius: 0;
    width: 100%;
    font-weight: 500;
    padding: 3px 8px;
    box-shadow: inset 0 0 0 1px #f1f1f1;
    background-color: #6c757d;
    border: 4px solid #6c757d;
}

.dataItem-button-right {
    border-bottom-right-radius: 8px;
}

.dataItem-button-left {
    border-bottom-left-radius: 8px;
}

@media (min-width: 470px)
{
    .dataItem-button-group {
        width: 60%;
    }

    .dataItem-infobox {
        border-bottom-right-radius: 8px;
    }
}

/*------------------------------- sessions-box --------------------------------------------*/